@import 'tailwindcss';

:root {
  --border: 240 5.9% 90%;
  --primary: 222 47.4% 11.2%;
  --background: 0 0% 100%;
  --radius: 0.5rem;
}

@theme inline {
  --color-border: hsl(var(--border));
  --color-primary: hsl(var(--primary));
  --color-background: hsl(var(--background));
  --radius-sm: calc(var(--radius) - 2px);
}
